<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>
<!-- logback框架中日志格式配置文件名为logback.xml或者logback-test.xml
      https://logback.qos.ch/manual/configuration.html
-->
<!-- configuration可配置debug="true"属性-->
<configuration>
    <import class="ch.qos.logback.core.ConsoleAppender"/>
    <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>

    <appender name="STDOUT" class="ConsoleAppender">
        <encoder class="PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>